<article id="post-191" class="post-191 post type-post status-publish format-standard has-post-thumbnail category-mobile-legends category-penting tag-fitur tag-mobile-legends" itemscope="" itemtype="https://schema.org/Article">
    <div class="td-post-header">

        <ul class="td-category"><li class="entry-category"><a href="https://esportsnesia.com/category/game/">Game</a></li><li class="entry-category"><a href="https://esportsnesia.com/category/game/mobile-legends/">Mobile Legends</a></li><li class="entry-category"><a href="https://esportsnesia.com/category/penting/">Penting</a></li></ul>
        <header class="td-post-title">
            <h1 class="entry-title">Apa Itu Mobile Legends?</h1>
            <div class="td-module-meta-info">
                <div class="td-post-author-name"><div class="td-author-by">By</div>
                <a href="https://esportsnesia.com/author/espada/">Boi Hutagaol</a>
                <div class="td-author-line"> - </div>
            </div>
            <span class="td-post-date">
                <time class="entry-date updated td-module-date" datetime="2018-04-22T14:41:51+00:00">April 22, 2018</time>
            </span>
            <div class="td-post-comments">
                <a href="https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/#disqus_thread"><i class="td-icon-comments"></i>8</a>
            </div>
            <div class="td-post-views">
                <i class="td-icon-views"></i><span class="td-nr-views-191">10422</span>
            </div>
        </div>

        </header>

    </div>

    <div class="td-post-sharing-top"><div id="td_social_sharing_article_top" class="td-post-sharing td-ps-bg td-ps-padding td-post-sharing-style2 "><div class="td-post-sharing-visible"><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-whatsapp" href="whatsapp://send?text=Apa Itu Mobile Legends? %0A%0A https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-whatsapp"></i></div>
                                    <div class="td-social-but-text">WhatsApp</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-telegram" href="https://telegram.me/share/url?url=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/&amp;text=Apa Itu Mobile Legends?" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-telegram"></i></div>
                                    <div class="td-social-but-text">Telegram</div>
                                </a></div><div class="td-social-sharing-hidden" style=""><ul class="td-pulldown-filter-list"><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-line" href="https://line.me/R/msg/text/?Apa Itu Mobile Legends?%0D%0Ahttps://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-line"></i></div>
                                    <div class="td-social-but-text">LINE</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/&amp;title=Apa Itu Mobile Legends?" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-linkedin"></i></div>
                                    <div class="td-social-but-text">Linkedin</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-mail" href="mailto:?subject=Apa Itu Mobile Legends?&amp;body=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-mail"></i></div>
                                    <div class="td-social-but-text">Email</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fesportsnesia.com%2Fgame%2Fmobile-legends%2Fapa-itu-mobile-legends%2F" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-facebook"></i></div>
                                    <div class="td-social-but-text">Facebook</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-twitter" href="https://twitter.com/intent/tweet?text=Apa+Itu+Mobile+Legends%3F&amp;url=https%3A%2F%2Fesportsnesia.com%2Fgame%2Fmobile-legends%2Fapa-itu-mobile-legends%2F&amp;via=Esportsnesia" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-twitter"></i></div>
                                    <div class="td-social-but-text">Twitter</div>
                                </a></ul><a class="td-social-sharing-button td-social-handler td-social-expand-tabs" href="#" data-block-uid="td_social_sharing_article_top">
                                <div class="td-social-but-icon"><i class="td-icon-plus td-social-expand-tabs-icon"></i></div>
                            </a></div></div></div>

    <div class="td-post-content">

    <div class="td-post-featured-image"><a href="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends.png" data-caption="" class="td-modal-image"><img width="696" height="464" class="entry-thumb td-animation-stack-type2-2" src="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-696x464.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-696x464.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-300x200.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-768x512.png 768w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-1024x683.png 1024w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-250x167.png 250w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-1068x712.png 1068w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-630x420.png 630w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends.png 1080w" sizes="(max-width: 696px) 100vw, 696px" alt="Apa itu Mobile Legends? | Esportsnesia.com" title="Mobile-Legends"></a></div>
    <div id="toc_container" class="no_bullets contracted" style="width: auto; display: table;"><p class="toc_title">Navigasi <span class="toc_toggle">[<a href="#">show</a>]</span></p><ul class="toc_list" style="display: none;"><li><a href="#Apa_itu_Mobile_Legends">Apa itu Mobile Legends?</a></li><li><a href="#Apa_Tujuan_Permainan">Apa Tujuan Permainan?</a></li><li><a href="#Apa_ituHero">Apa itu&nbsp;Hero?</a></li><li><a href="#Apa_itu_Role">Apa itu Role?</a></li><li><a href="#Mobile_LegendsMechanics">Mobile Legends&nbsp;Mechanics</a></li><li><a href="#Mode_Permainan">Mode Permainan</a></li></ul></div>
<p><span class="md-line md-end-block md-focus"><span class="md-expand">“MOBA kok </span><span class=""><em>analog</em></span>?” Pasti kalimat ini sering didengar oleh para pemain&nbsp;<a href="https://esportsnesia.com/fokus/sepintas-tentang-esports/"><em>esports</em> </a>Mobile Legends di Indonesia. Seiring dengan maraknya migrasi para <span class=""><em>game developer</em></span> dari <span class=""><em>platform</em></span> PC ke <span class=""><em>mobile</em></span>, tak heran jika permainan Mobile Legends ini menjadi alternatif yang menarik bagi kamu yang ingin<a href="https://esportsnesia.com/penting/apa-itu-moba/"> bermain MOBA</a> secara praktis dan mudah. </span></p>
<p><span class="md-line md-end-block md-focus">Tidak seperti bermain di PC yang harus duduk di kursi <span class=""><em>‘gaming’</em></span> dan menyiapkan <span class=""><em>gear</em></span><span class=""> pendukung, Mobile Legends dapat dimainkan dimana saja, baik di kamar, maupun ketika sedang bekerja atau mungkin pada saat sedang di kamar mandi. Mobile Legends telah berkembang menjadi&nbsp;</span><span class=""><em>mobile game</em></span><span class=""> yang paling populer saat ini di Indonesia, setiap hari ribuan pemain memainkan </span><span class=""><em>game</em></span><span class=""> ini. </span></span></p>
<p><span class="md-line md-end-block md-focus"><span class="">Oleh karena itu, pada kesempatan ini Esportsnesia akan sedikit mengulas apa itu Mobile Legends. Jadi pastikan jika kamu ingin memulai bermain Mobile Legends, baca tulisan ini ya sob!</span></span></p><div class="td_smart_list_2 td-2-columns "><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">1</span><span class="td-sml-current-item-title"><span id="Apa_itu_Mobile_Legends"><span class="">Apa itu Mobile Legends?</span></span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Heroes.png" data-caption="Apa itu Mobile Legends via mobilelegends.com">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Heroes-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Heroes-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Heroes-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Heroes.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div>Apa itu Mobile Legends via <a class="vglnk" href="http://mobilelegends.com" rel="nofollow"><span>mobilelegends</span><span>.</span><span>com</span></a></div></figcaption>
                        <span class="td-sml-description"><ul class="ul-list" data-mark="-">
<li class=""><span class="md-line md-end-block">Mobile Legends adalah&nbsp;<span class=""><em>game</em></span>&nbsp;yang dikembangkan dan dirilis oleh Moontoon&nbsp;<span class=""><em>developer</em></span>.&nbsp;</span></li>
<li class=""><span class="md-line md-end-block"><span class=""><em>Game</em></span>&nbsp;ini dapat dimainkan di&nbsp;<em>platform mobile</em>&nbsp;Android dan iOS.&nbsp;<span class=""><em>Game</em></span>&nbsp;MOBA satu ini sukses mencuri perhatian para&nbsp;<span class=""><em>gamer</em></span><span class="">&nbsp;di Indonesia sejak tahun 2016.</span></span></li>
<li class=""><span class="md-line md-end-block"><span class="">Permainan ini dimainkan sebanyak 10 orang yang terbagi menjadi 2 tim.</span></span></li>
<li class=""><span class="md-line md-end-block">Permainan dimulai dengan setiap pemain memilih 1&nbsp;<span class=""><em>hero</em></span>&nbsp;dari daftar&nbsp;<span class=""><em>hero</em></span>&nbsp;yang bisa diakses oleh pemain.&nbsp;<span class=""><em>Hero</em></span>&nbsp;yang tersedia adalah&nbsp;<span class=""><em>hero</em></span>&nbsp;yang telah dibeli dan&nbsp;<span class=""><em>hero</em></span>&nbsp;yang sedang ‘dipinjamkan’ secara gratis kepada pemain oleh sistem. Dengan kata lain, tidak semua&nbsp;<span class=""><em>hero</em></span><span class="">&nbsp;dapat langsung dimainkan.</span></span></li>
<li class=""><span class="md-line md-end-block md-focus"><span class="">Lama permainan berkisar sekitar 15 menit untuk 1 ronde.</span></span></li>
</ul></span></div><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">2</span><span class="td-sml-current-item-title"><span id="Apa_Tujuan_Permainan"><span class="">Apa Tujuan Permainan?</span></span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Tujuan-Permainan.png" data-caption="">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Tujuan-Permainan-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Tujuan-Permainan-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Tujuan-Permainan-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Tujuan-Permainan.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div></div></figcaption>
                        <span class="td-sml-description"><p></p><ul class="ul-list" data-mark="-">
<li><span class="md-line md-end-block">Tujuan utama permainan adalah untuk menghancurkan&nbsp;<span class=""><em>base</em></span>&nbsp;lawan.</span></li>
<li><span class="md-line md-end-block">Terdapat 3&nbsp;<span class=""><em>lane</em></span>&nbsp;utama dalam&nbsp;<span class=""><em>map</em></span>, yaitu&nbsp;<span class=""><em>middle</em></span>,&nbsp;<span class=""><em>top</em></span>, dan&nbsp;<span class=""><em>bottom lane</em></span>.</span></li>
<li><span class="md-line md-end-block">Masing-masing&nbsp;<span class=""><em>lane</em></span>&nbsp;dijaga oleh&nbsp;<span class=""><em>Turret</em></span>&nbsp;yang akan menyerang&nbsp;<span class=""><em>unit</em></span>&nbsp;musuh secara otomatis.</span></li>
<li class=""><span class="md-line md-end-block">Setiap&nbsp;<span class=""><em>lane</em></span>&nbsp;juga memiliki bangunan&nbsp;<span class=""><em>‘barrack’</em></span>&nbsp;yang jika dihancurkan akan membuat <span class=""><em>creep</em></span>/<span class=""><em>minion</em></span><span class="md-expand">&nbsp;lawan menjadi semakin kuat.</span></span></li>
<li><span class="md-line md-end-block">Apabila semua ‘<span class=""><em>barrack</em></span>‘ hancur, maka tim lawan akan memiliki&nbsp;<span class=""><em>super minion</em></span>&nbsp;yang jauh lebih kuat dibanding&nbsp;<span class=""><em>minion</em></span>&nbsp;biasa.</span></li>
<li><span class="md-line md-end-block">Di luar jalur&nbsp;<span class=""><em>lane</em></span>&nbsp;setiap tim, juga terdapat&nbsp;<span class=""><em>jungle</em></span>&nbsp;yang berisi&nbsp;<span class=""><em>jungle creep</em></span>&nbsp;yang akan memberikan&nbsp;<span class=""><em>buff</em></span>&nbsp;pada&nbsp;<span class=""><em>unit</em></span>&nbsp;yang mengalahkan&nbsp;<span class=""><em>creep</em></span>&nbsp;tersebut.</span></li>
<li class="md-focus-container"><span class="md-line md-end-block md-focus">Permainan berakhir ketika&nbsp;<span class=""><em>base</em></span><span class="">&nbsp;salah satu tim hancur.</span></span></li>
</ul></span></div><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">3</span><span class="td-sml-current-item-title"><span id="Apa_ituHero"><span id="idC" class="md-expand">Apa itu&nbsp;</span><span class=""><em>Hero</em></span><span class="">?</span></span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Hero-Mobile-Legends.png" data-caption="">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Hero-Mobile-Legends-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Hero-Mobile-Legends-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Hero-Mobile-Legends-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Hero-Mobile-Legends.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div></div></figcaption>
                        <span class="td-sml-description"><p></p><ul class="ul-list" data-mark="-">
<li><span class="md-line md-end-block"><span class=""><em>Hero</em></span>&nbsp;adalah karakter unik yang hanya dapat dimainkan oleh 1&nbsp;<span class=""><em>player</em></span>&nbsp;pada setiap ronde permainan.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Hero</em></span>&nbsp;dapat dibeli dengan melakukan&nbsp;<span class=""><em>Top Up</em></span>&nbsp;<span class=""><em>diamond</em></span>, atau dengan menggunakan <span class=""><em>ticket&nbsp;</em></span>dan&nbsp;<span class=""><em>Battle Point</em></span>.</span></li>
<li><span class="md-line md-end-block">Setiap&nbsp;<span class=""><em>hero</em></span>&nbsp;memiliki 4&nbsp;<span class=""><em>skill</em></span>, dengan 1&nbsp;<span class=""><em>passive skill</em></span>&nbsp;dan 3&nbsp;<span class=""><em>active skill</em></span>.</span></li>
<li><span class="md-line md-end-block">Berdasarkan jarak serangnya,&nbsp;<span class=""><em>hero</em></span>&nbsp;terbagi menjadi 2 tipe, yaitu&nbsp;<span class=""><em>melee</em></span>&nbsp;dan&nbsp;<span class=""><em>ranged</em></span>.&nbsp;<span class=""><em>Hero melee</em></span>&nbsp;memiliki jangkauan serang yang pendek dibandingkan dengan&nbsp;<span class=""><em>hero ranged</em></span>.</span></li>
<li><span class="md-line md-end-block">Dari karakteristiknya,&nbsp;<span class=""><em>hero</em></span>&nbsp;dibagi menjadi beberapa tipe, yaitu:</span>
<ul class="ul-list" data-mark="-">
<li><span class="md-line md-end-block"><span class=""><em>Marksman</em></span>&nbsp;– Tipe&nbsp;<span class=""><em>hero</em></span>&nbsp;ini memiliki daya serang yang kuat sehingga memiliki peran sebagai penyerang utama dalam permainan.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Tank</em></span>&nbsp;– Tipe&nbsp;<span class=""><em>hero</em></span>&nbsp;ini memiliki&nbsp;<span class=""><em>base</em></span>&nbsp;HP dan&nbsp;<span class=""><em>Armor</em></span>&nbsp;yang besar sehingga dapat menerima&nbsp;<span class=""><em>damage</em></span>&nbsp;yang besar dari lawan untuk melindungi tim.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Mage</em></span>&nbsp;– Tipe&nbsp;<span class=""><em>hero</em></span>&nbsp;ini memiliki&nbsp;<span class=""><em>skill</em></span>&nbsp;dengan&nbsp;<span class=""><em>damage</em></span>&nbsp;yang besar sehingga dapat melakukan&nbsp;<span class=""><em>quick kill</em></span>&nbsp;kepada&nbsp;<span class=""><em>hero</em></span>&nbsp;lawan.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Support</em></span>&nbsp;– Tipe&nbsp;<span class=""><em>hero</em></span>&nbsp;ini memiliki&nbsp;<span class=""><em>skill</em></span>&nbsp;yang berguna untuk menjaga tim serta membantu tim ketika sedang bertempur.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Assassin</em></span>&nbsp;– Tipe&nbsp;<span class=""><em>hero</em></span>&nbsp;ini umumnya memiliki&nbsp;<span class=""><em>skill</em></span>&nbsp;yang dapat membunuh serta melakukan&nbsp;<span class=""><em>lock</em></span>&nbsp;kepada lawan.</span></li>
</ul>
</li>
</ul>
<p>Nah, itu dia sekilas tentang hal-hal dasar yang akan kamu jumpai langsung di permainan Mobile Legends. Pada bagian berikutnya, kita akan membahas lebih dalam tentang pengetahuan ‘tambahan’ supaya bisa lebih menikmati bermain Mobile Legends. Ga asyik dong kalau mainnya gitu-gitu aja.</p>
<div style="clear:both; margin-top:0em; margin-bottom:1em;"><a href="https://esportsnesia.com/game/hearthstone/apa-itu-hearthstone/" target="_blank" rel="nofollow" class="u7e837cedfd5dc9b8336d36e83d60bf82"><!-- INLINE RELATED POSTS 1/3 //--><style> .u7e837cedfd5dc9b8336d36e83d60bf82 , .u7e837cedfd5dc9b8336d36e83d60bf82 .postImageUrl , .u7e837cedfd5dc9b8336d36e83d60bf82 .centered-text-area { min-height: 80px; position: relative; } .u7e837cedfd5dc9b8336d36e83d60bf82 , .u7e837cedfd5dc9b8336d36e83d60bf82:hover , .u7e837cedfd5dc9b8336d36e83d60bf82:visited , .u7e837cedfd5dc9b8336d36e83d60bf82:active { border:0!important; } .u7e837cedfd5dc9b8336d36e83d60bf82 .clearfix:after { content: ""; display: table; clear: both; } .u7e837cedfd5dc9b8336d36e83d60bf82 { display: block; transition: background-color 250ms; webkit-transition: background-color 250ms; width: 100%; opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; background-color: #E67E22; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); } .u7e837cedfd5dc9b8336d36e83d60bf82:active , .u7e837cedfd5dc9b8336d36e83d60bf82:hover { opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; background-color: #D35400; } .u7e837cedfd5dc9b8336d36e83d60bf82 .centered-text-area { width: 100%; position: relative; } .u7e837cedfd5dc9b8336d36e83d60bf82 .ctaText { border-bottom: 0 solid #fff; color: #ECF0F1; font-size: 16px; font-weight: bold; margin: 0; padding: 0; text-decoration: underline; } .u7e837cedfd5dc9b8336d36e83d60bf82 .postTitle { color: #FFFFFF; font-size: 16px; font-weight: 600; margin: 0; padding: 0; width: 100%; } .u7e837cedfd5dc9b8336d36e83d60bf82 .ctaButton { background-color: #D35400!important; color: #ECF0F1; border: none; border-radius: 3px; box-shadow: none; font-size: 14px; font-weight: bold; line-height: 26px; moz-border-radius: 3px; text-align: center; text-decoration: none; text-shadow: none; width: 80px; min-height: 80px; background: url(https://esportsnesia.com/wp-content/plugins/intelly-related-posts/assets/images/simple-arrow.png)no-repeat; position: absolute; right: 0; top: 0; } .u7e837cedfd5dc9b8336d36e83d60bf82:hover .ctaButton { background-color: #E67E22!important; } .u7e837cedfd5dc9b8336d36e83d60bf82 .centered-text { display: table; height: 80px; padding-left: 18px; top: 0; } .u7e837cedfd5dc9b8336d36e83d60bf82 .u7e837cedfd5dc9b8336d36e83d60bf82-content { display: table-cell; margin: 0; padding: 0; padding-right: 108px; position: relative; vertical-align: middle; width: 100%; } .u7e837cedfd5dc9b8336d36e83d60bf82:after { content: ""; display: block; clear: both; } </style><div class="centered-text-area"><div class="centered-text" style="float: left;"><div class="u7e837cedfd5dc9b8336d36e83d60bf82-content"><span class="ctaText">Baca juga:</span>&nbsp; <span class="postTitle">Apa Itu Hearthstone?</span></div></div></div><div class="ctaButton"></div></a></div></span></div><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">4</span><span class="td-sml-current-item-title"><span id="Apa_itu_Role"><span class="md-expand">Apa itu Role?</span></span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Role.png" data-caption="">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Role-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Role-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Role-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Role.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div></div></figcaption>
                        <span class="td-sml-description"><p></p><p><span class="md-line md-end-block"><span class="">Mobile Legends adalah salah satu jenis permainan yang mengandalkan kekompakan tim. Oleh sebab itu, komposisi tim dengan peran yang tepat merupakan hal yang sangat penting untuk memenangkan permainan.</span></span></p>
<p><span class="md-line md-end-block"><span class=""><em>Role</em></span><span class="">&nbsp;adalah pembagian tugas dalam permainan. umumnya&nbsp;</span><span class=""><em>role</em></span><span class="">&nbsp;dibuat agar sinergi dan kekompakan tim tetap terjaga. Jenis-jenis tersebut adalah:</span></span></p>
<ol class="ol-list">
<li class=""><span class="md-line md-end-block"><span class=""><em>Carry</em></span>&nbsp;–&nbsp;<span class=""><em>Role</em></span>&nbsp;yang bertugas sebagai pemberi&nbsp;<span class=""><em>damage utama</em></span>&nbsp;ketika&nbsp;<span class=""><em>war</em></span>. Umumnya merupakan&nbsp;<span class=""><em>hero</em></span>&nbsp;tipe&nbsp;<span class=""><em>Marksman</em></span>.&nbsp;<span class=""><em>Role carry</em></span>&nbsp;membutuhkan intensitas&nbsp;<span class=""><em>farm</em></span>&nbsp;dan&nbsp;<span class=""><em>level</em></span>yang tinggi untuk mencapai potensinya. Contoh&nbsp;<span class=""><em>hero marksman</em></span><span class="">&nbsp;adalah Miya, Layla, dan Clint.</span></span></li>
<li class=""><span class="md-line md-end-block"><span class=""><em>Tank</em></span>&nbsp;–&nbsp;<span class=""><em>Role</em></span>&nbsp;yang bertugas sebagai penerima&nbsp;<span class=""><em>damage</em></span>&nbsp;ketika&nbsp;<span class=""><em>war</em></span>.&nbsp;<span class=""><em>Tank</em></span>&nbsp;juga harus berada di barisan paling depan guna melindungi teman setimnya.&nbsp;<span class=""><em>Tank</em></span>&nbsp;memiliki&nbsp;<span class=""><em>base</em></span><span class="">&nbsp;HP dan Armor yang tinggi yang membuat mereka susah dikalahkan. Contoh&nbsp;</span><span class=""><em>hero tank&nbsp; </em></span><span class="">adalah Balmond, Tigreal, dan Franco.</span></span></li>
<li class=""><span class="md-line md-end-block md-focus"><span class=""><em>Support</em></span>&nbsp;–&nbsp;<span class=""><em>Role</em></span>&nbsp;yang bertugas membantu&nbsp;<span class=""><em>hero carry</em></span>&nbsp;mendapatkan&nbsp;<span class=""><em>farm</em></span>&nbsp;ataupun melakukan&nbsp;<span class=""><em>gank</em></span>&nbsp;pada tim lawan.&nbsp;<span class=""><em>Role</em></span>&nbsp;ini tidak terlalu membutuhkan&nbsp;<span class=""><em>farm</em></span>&nbsp;dan&nbsp;<span class=""><em>level</em></span>. Contoh&nbsp;<span class=""><em>hero support</em></span><span class="">&nbsp;adalah Rafaela dan Nana.</span></span></li>
</ol></span></div><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">5</span><span class="td-sml-current-item-title"><span id="Mobile_LegendsMechanics"><span class="md-expand">Mobile Legends&nbsp;</span><span class=""><em>Mechanics</em></span></span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-mechanics.png" data-caption="">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-mechanics-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-mechanics-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-mechanics-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-mechanics.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div></div></figcaption>
                        <span class="td-sml-description"><p><span class="md-line md-end-block"><span class="">Setelah membaca bagian di atas, kamu sudah dapat gambaran umum tentang apa itu Mobile Legends, tapi tentu saja informasi di atas masih kurang jika kamu ingin betul-betul tahu bagaimana cara bermain Mobile Legends. Jadi di sini Esportsnesia akan memberitahu tentang ‘Mobile Legends&nbsp;</span><span class=""><em>Mechanics</em></span><span class="">‘, yaitu apa saja detil-detil lain yang ada di dalam permainan.</span></span></p><ul class="ul-list" data-mark="-">
<li><span class="md-line md-end-block"><span class=""><em>Minion</em></span>&nbsp;– unit yang bergerak sendiri tanpa dikontrol pemain. Terdapat 3 jenis&nbsp;<span class=""><em>minion</em></span>, yaitu&nbsp;<span class=""><em>Melee</em></span>,&nbsp;<span class=""><em>Ranged</em></span>, dan&nbsp;<span class=""><em>Siege</em></span>.</span></li>
<li class=""><span class="md-line md-end-block"><span class=""><em>Jungle creep –</em></span>&nbsp;adalah unit yang berada pada kawasan&nbsp;<span class=""><em>jungle</em></span>&nbsp;di peta. Mulai&nbsp;<span class=""><em>respawn</em></span>pada detik ke-30, unit ini akan memberikan&nbsp;<span class=""><em>buff</em></span><span class="">&nbsp;kepada unit yang mengalahkannya sehingga lebih&nbsp;</span><span class=""><em>creep</em></span>&nbsp;ini lebih diutamakan untuk&nbsp;<span class=""><em>farm</em></span>&nbsp;dibandingkan&nbsp;<span class=""><em>farm minion</em></span>.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Turtle</em></span>&nbsp;– adalah unit yang&nbsp;<span class=""><em>respawn</em></span>&nbsp;di permainan setelah permainan berlangsung selama 2 menit. Jika dikalahkan akan memberi XP dan&nbsp;<span class=""><em>gold</em></span>&nbsp;kepada seluruh anggota tim.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Lord</em></span>&nbsp;– adalah unit terkuat di permainan. Apabila dikalahkan, maka tim yang mengalahkannya dapat memanggil Lord untuk melakukan&nbsp;<span class=""><em>push</em></span>&nbsp;kepada team lawan.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Item</em></span>&nbsp;adalah suatu variabel yang dapat memberikan kekuatan tambahan beserta efek khusus bagi&nbsp;<span class=""><em>hero</em></span>&nbsp;yang memakainya.&nbsp;</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Item</em></span>&nbsp;dibeli menggunakan&nbsp;<span class=""><em>gold</em></span>&nbsp;yang diperoleh dari&nbsp;<span class=""><em>farm minion,</em></span>&nbsp;<span class=""><em>jungle creep</em></span>&nbsp;serta mengalahkan hero dan turret lawan.&nbsp;</span><span class="md-line md-end-block">Beberapa <em>i</em><span class=""><em>tem&nbsp;</em></span>memiliki efek&nbsp;<span class=""><em>skill</em></span>&nbsp;pasif.</span></li>
<li><span class="md-line md-end-block"><span class=""><em>Emblem</em></span>&nbsp;adalah suatu variabel yang dapat ditingkatkan untuk menambah efek tertentu. <em>Emblem&nbsp;</em>terbagi menjadi <em>Physical</em>, <em>Magical</em>, <em>Marksman</em>, <em>Mage</em>, <em>Fighter</em>, <em>Jungler</em>, <em>Tank</em>, dan <em>Support</em>.</span></li>
<li><span class=""><em>Medal</em></span>&nbsp;adalah tanda dari tingkatan&nbsp;<span class=""><em>skill</em></span>&nbsp;suatu pemain. Jika disortir dari tingkatan paling rendah ke tinggi,&nbsp;<span class=""><em>medal</em></span>&nbsp;terdiri dari tingkat Warrior, Elite, Master, Grandmaster, Epic, Legend, dan Mythic. Semakin tinggi&nbsp;<span class=""><em>medal</em></span><span class="">&nbsp;seorang pemain, maka permainan akan menjadi semakin sulit dimenangkan sebab pemain saling bermain dengan pemain yang lebih hebat.</span></li>
</ul></span></div><div class="td-item"><div class="td-number-and-title"><h2><span class="td-sml-current-item-nr">6</span><span class="td-sml-current-item-title"><span id="Mode_Permainan">Mode Permainan</span></span></h2></div>
                        <figure class="td-slide-smart-list-figure td-slide-smart-list-2 td-lightbox-enabled">
                            <a class="td-sml-link-to-image" href="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Mode.png" data-caption="">
                                <img src="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Mode-696x338.png" srcset="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Mode-696x338.png 696w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Mode-300x146.png 300w, https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends-Mode.png 720w" sizes="(max-width: 696px) 100vw, 696px" class="td-animation-stack-type2-2">
                            </a>
                        </figure>
                        <figcaption class="td-sml-caption"><div></div></figcaption>
                        <span class="td-sml-description"><p></p><ul class="ul-list" data-mark="-">
<li><span class="md-line md-end-block">Mobile Legends memiliki beberapa mode permainan, antara lain:</span>
<ul class="ul-list" data-mark="-">
<li class=""><span class="md-line md-end-block"><span class="">Classic – mode umum dimana pemain bermain melawan pemain lain tanpa pengkategorisasian tingkat kemampuan pemain.</span></span></li>
<li class=""><span class="md-line md-end-block"><span class="">Ranked – mode yang dimainkan berdasarkan tingkatan&nbsp;</span><span class=""><em>medal</em></span>&nbsp;pemain. Pemain akan bermain dengan pemain yang memiliki level&nbsp;<span class=""><em>medal</em></span>&nbsp;yang sama. Jika kalah maka pemain akan kehilangan bintang&nbsp;<span class=""><em>medal</em></span><span class="">, sedangkan jika menang akan memperoleh medal tambahan.</span></span></li>
<li class=""><span class="md-line md-end-block"><span class="">Brawl – mode ini lebih memfokuskan untuk pertarungan intens antar tim. Pemain dari kedua tim akan berjumpa langsung di sebuah&nbsp;</span><span class=""><em>lane</em></span><span class="">.</span></span></li>
</ul>
</li>
</ul>
<p>Nah itu dia tentang&nbsp;<em>intro&nbsp;</em>Mobile Legends. Menurut kamu, apa ada yang kami lewatkan? <em>Comment</em>&nbsp;di bawah ya&nbsp;sob!</p>
<div style="clear:both; margin-top:0em; margin-bottom:1em;"><a href="https://esportsnesia.com/game/csgo/apa-itu-csgo/" target="_blank" rel="nofollow" class="u351ddd13d9d3aeb6b1bfb165b9bf1463"><!-- INLINE RELATED POSTS 2/3 //--><style> .u351ddd13d9d3aeb6b1bfb165b9bf1463 , .u351ddd13d9d3aeb6b1bfb165b9bf1463 .postImageUrl , .u351ddd13d9d3aeb6b1bfb165b9bf1463 .centered-text-area { min-height: 80px; position: relative; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 , .u351ddd13d9d3aeb6b1bfb165b9bf1463:hover , .u351ddd13d9d3aeb6b1bfb165b9bf1463:visited , .u351ddd13d9d3aeb6b1bfb165b9bf1463:active { border:0!important; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .clearfix:after { content: ""; display: table; clear: both; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 { display: block; transition: background-color 250ms; webkit-transition: background-color 250ms; width: 100%; opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; background-color: #E67E22; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); } .u351ddd13d9d3aeb6b1bfb165b9bf1463:active , .u351ddd13d9d3aeb6b1bfb165b9bf1463:hover { opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; background-color: #D35400; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .centered-text-area { width: 100%; position: relative; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .ctaText { border-bottom: 0 solid #fff; color: #ECF0F1; font-size: 16px; font-weight: bold; margin: 0; padding: 0; text-decoration: underline; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .postTitle { color: #FFFFFF; font-size: 16px; font-weight: 600; margin: 0; padding: 0; width: 100%; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .ctaButton { background-color: #D35400!important; color: #ECF0F1; border: none; border-radius: 3px; box-shadow: none; font-size: 14px; font-weight: bold; line-height: 26px; moz-border-radius: 3px; text-align: center; text-decoration: none; text-shadow: none; width: 80px; min-height: 80px; background: url(https://esportsnesia.com/wp-content/plugins/intelly-related-posts/assets/images/simple-arrow.png)no-repeat; position: absolute; right: 0; top: 0; } .u351ddd13d9d3aeb6b1bfb165b9bf1463:hover .ctaButton { background-color: #E67E22!important; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .centered-text { display: table; height: 80px; padding-left: 18px; top: 0; } .u351ddd13d9d3aeb6b1bfb165b9bf1463 .u351ddd13d9d3aeb6b1bfb165b9bf1463-content { display: table-cell; margin: 0; padding: 0; padding-right: 108px; position: relative; vertical-align: middle; width: 100%; } .u351ddd13d9d3aeb6b1bfb165b9bf1463:after { content: ""; display: block; clear: both; } </style><div class="centered-text-area"><div class="centered-text" style="float: left;"><div class="u351ddd13d9d3aeb6b1bfb165b9bf1463-content"><span class="ctaText">Baca juga:</span>&nbsp; <span class="postTitle">Apa itu CS:GO?</span></div></div></div><div class="ctaButton"></div></a></div><p style="text-align: center;"><em>(Disunting oleh Satya Kevino. Sumber gambar:&nbsp;<a class="vglnk" href="http://onlinefanatic.com" rel="nofollow"><span>onlinefanatic</span><span>.</span><span>com</span></a>)</em></p></span></div></div>        </div>


    <footer>
                    
        <div class="td-post-source-tags">
                            <ul class="td-tags td-post-small-box clearfix"><li><span>TAGS</span></li><li><a href="https://esportsnesia.com/tag/fitur/">Fitur</a></li><li><a href="https://esportsnesia.com/tag/mobile-legends/">Mobile Legends</a></li></ul>            </div>

        <div class="td-post-sharing-bottom"><div class="td-post-sharing-classic"><iframe frameborder="0" src="https://www.facebook.com/plugins/like.php?href=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/&amp;layout=button_count&amp;show_faces=false&amp;width=105&amp;action=like&amp;colorscheme=light&amp;height=21" style="border:none; overflow:hidden; width:105px; height:21px; background-color:transparent;"></iframe></div><div id="td_social_sharing_article_bottom" class="td-post-sharing td-ps-bg td-ps-notext td-post-sharing-style1 "><div class="td-post-sharing-visible"><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-whatsapp" href="whatsapp://send?text=Apa Itu Mobile Legends? %0A%0A https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-whatsapp"></i></div>
                                    <div class="td-social-but-text">WhatsApp</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-telegram" href="https://telegram.me/share/url?url=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/&amp;text=Apa Itu Mobile Legends?" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-telegram"></i></div>
                                    <div class="td-social-but-text">Telegram</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-line" href="https://line.me/R/msg/text/?Apa Itu Mobile Legends?%0D%0Ahttps://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-line"></i></div>
                                    <div class="td-social-but-text">LINE</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/&amp;title=Apa Itu Mobile Legends?" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-linkedin"></i></div>
                                    <div class="td-social-but-text">Linkedin</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-mail" href="mailto:?subject=Apa Itu Mobile Legends?&amp;body=https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-mail"></i></div>
                                    <div class="td-social-but-text">Email</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fesportsnesia.com%2Fgame%2Fmobile-legends%2Fapa-itu-mobile-legends%2F" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-facebook"></i></div>
                                    <div class="td-social-but-text">Facebook</div>
                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-twitter" href="https://twitter.com/intent/tweet?text=Apa+Itu+Mobile+Legends%3F&amp;url=https%3A%2F%2Fesportsnesia.com%2Fgame%2Fmobile-legends%2Fapa-itu-mobile-legends%2F&amp;via=Esportsnesia" style="transition: opacity 0.2s ease 0s; opacity: 1;">
                                    <div class="td-social-but-icon"><i class="td-icon-twitter"></i></div>
                                    <div class="td-social-but-text">Twitter</div>
                                </a></div><div class="td-social-sharing-hidden" style="display: none;"><ul class="td-pulldown-filter-list"></ul><a class="td-social-sharing-button td-social-handler td-social-expand-tabs" href="#" data-block-uid="td_social_sharing_article_bottom">
                                <div class="td-social-but-icon"><i class="td-icon-plus td-social-expand-tabs-icon"></i></div>
                            </a></div></div></div>            <div class="td-block-row td-post-next-prev"><div class="td-block-span6 td-post-prev-post"><div class="td-post-next-prev-content"><span>Previous article</span><a href="https://esportsnesia.com/fokus/sepintas-tentang-esports/">Sepintas Tentang Esports</a></div></div><div class="td-next-prev-separator"></div><div class="td-block-span6 td-post-next-post"><div class="td-post-next-prev-content"><span>Next article</span><a href="https://esportsnesia.com/kasual/hobi-main-game-ga-salah-kok/">Hobi Main Game? Ga Salah, Kok!</a></div></div></div>            <div class="author-box-wrap"><a href="https://esportsnesia.com/author/espada/"><img src="https://esportsnesia.com/wp-content/uploads/2018/04/Boi-Hutagaol-150x150.png" width="96" height="96" alt="Boi Hutagaol" class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo"></a><div class="desc"><div class="td-author-name vcard author"><span class="fn"><a href="https://esportsnesia.com/author/espada/">Boi Hutagaol</a></span></div><div class="td-author-description">Penikmat slow rock lulusan komputer yang belajar menjadi programmer tetapi memiliki cita cita sebagai pro gamer. Jomblo berkualitas meskipun skill terbatas. 
"MMR is just not a number, alien is real; Menulis sebagai pengisi waktu luang serta pengisi jiwa yang kosong." - Boi</div><div class="td-author-social">
    <span class="td-social-icon-wrap">
        <a target="_blank" href="https://www.facebook.com/boy.espada" title="Facebook">
            <i class="td-icon-font td-icon-facebook"></i>
        </a>
    </span></div><div class="clearfix"></div></div></div>	        <span class="td-page-meta" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><meta itemprop="name" content="Boi Hutagaol"></span><meta itemprop="datePublished" content="2018-04-22T14:41:51+00:00"><meta itemprop="dateModified" content="2019-07-22T12:06:11+00:00"><meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://esportsnesia.com/game/mobile-legends/apa-itu-mobile-legends/"><span class="td-page-meta" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><span class="td-page-meta" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://esportsnesia.com/wp-content/uploads/2018/05/logo-272x90-web.png"></span><meta itemprop="name" content="Esportsnesia"></span><meta itemprop="headline " content="Apa Itu Mobile Legends?"><span class="td-page-meta" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://esportsnesia.com/wp-content/uploads/2018/04/Mobile-Legends.png"><meta itemprop="width" content="1080"><meta itemprop="height" content="720"></span>        </footer>

</article>